<header class="flex justify-between items-center py-5 w-full xl:w-[1220px] mx-auto">
    <img class="rounded-lg w-10 h-10 md:w-12 md:h-12 lg:w-14 lg:h-14 sm:mx-10 mx-2" src="logosh.png" alt="Santiago Henao">
    <nav class="flex flex-row gap-x-8 lg:gap-x-10 opacity-80 me-3">
        <a href="#home">Home</a>
        <a href="#skills">Skills</a>
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
    </nav>
</header>